.options{
    border: noune;
    margin: 40px auto;
    width: 90%;
    padding-top: 15px;
    border-radius: 20px;
    box-shadow: 0 0 20px  rgb(40, 217, 111) inset;
    color: rgb(1, 252, 252);
}
.options ul li{
 list-style: none;
 padding-bottom: 15px;
 font-weight: bold;
}
.options ul li a{
    text-decoration: none;
    color: rgb(1, 252, 252);
}
.options i{
    margin-right: 10px;
}