.options{
    border: 1px solid black;
    border-radius: 10px;
    margin: 40px auto;
    width: 90%;
    padding-top: 15px;
}
.options ul li{
 list-style: none;
 padding-bottom: 15px;
}
.options ul li a{
    text-decoration: none;
    color: black;
}
.options i{
    margin-right: 10px;
}