.footer{
    /* border: 1px solid; */
    padding: 25px 15px;
}
/* .footer ul li{
    list-style: none;
    padding: 8px 0;
}
.footer ul li a{
    text-decoration: none;
    color: black;
} */

.footer-icons{
    text-align: center;
}
.footer-icons i{
    font-size: 32px;
    margin: 15px;
    color: #00B35F;
    opacity: 0.6;
    transition: 0.5s;
    display: inline-block;
}
.footer-icons i:hover{
    opacity: 1;
}
.footer-icons {
    display: inline-block;
    font-size: 24px;
    transition: transform 0.3s ease; /* Add smooth transition */
}

.footer-icons i:hover {
    transform: scale(1.2); /* Scale up the icon on hover */
}